<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm">
      <div class="form-display col-sm-5">
        <label for="url">Enter URL:</label>
        <input id="url" name="url" type="text" class="form-control" ngModel/>
      </div>
    </form>
  </div>
  <div class="col-sm-5">
      <button type="submit" class="btn btn-success" (click)="getShortUrl(f)">Generate short url</button>
  </div>
  <div class = "col-xs-12">
    <label for="shortUrl">ShortUrl:</label>
    <input id="shortUrl" class="form-control" type="text" value={{shortUrl}}>
  </div>
</div>